.hero-section-container {
  background: #000 url("images/hero-bg.jpg");
  height: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.hero-section-container p {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-section-container .red {
  background: #c20f0f;
  padding: 4px 10px;
  margin: 8px;
}

.hero-section-container a.btn {
  background: #ffd970;
  padding: 8px 24px;
  text-decoration: none;
  color: #000;
  margin: 0 8px;
  border-radius: 0 8px;
  transition: background 400ms;
}

.hero-section-container a.btn:hover {
  background: #fcefcc;
}

@media (max-width: 600px) {
  .hero-section-container {
    padding: 30px 0;
  }

  .hero-section-container p {
    font-size: 20px;
  }

  .hero-section-container p.hero-sub-heading .red {
    display: block;
    width: 100px;
    text-align: center;
    margin: 24px auto;
    margin-bottom: 0;
    padding: 6px 24px;
  }

  .hero-section-container .buttons-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px;
    border-radius: 10px;
    width: 80%;
  }

  .hero-section-container .buttons-container a.btn {
    margin: 8px auto;
    min-width: 200px;
    text-align: center;
    padding: 10px 24px;
  }
}
